<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQVNjws14DGqV7FAgU0pJoAIlbZpZCL0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>256170130419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orgIdentifier.iosApp</string>
	<key>PROJECT_ID</key>
	<string>kmm-notes-df142</string>
	<key>STORAGE_BUCKET</key>
	<string>kmm-notes-df142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256170130419:ios:cd94852aa26d2f83ec7086</string>
</dict>
</plist>